[2021-07-16 12:47] janpio opened #1 "prisma:GeneratorProcess Error: ENOENT: no such file or directory, scandir '...\node_modules\prisma-erd-generator\node_modules\@prisma\engines' +1ms"
I think the logic to find the binary does not work properly when using the generator via Npm:

[code]

Adding `'..', '..', ` to the path it tries to read, makes it access the correct dependency folder and let's it progress further.

In theory you should not even have to read the dependency like that at all, but request the correct generator in the manifest. Unfortunately we do not have good docume

[2021-07-16 13:07] janpio opened #2 "Does not work on Windows"
After fixing https://github.com/keonik/prisma-erd-generator/issues/1 manually, I still did not get a svg file. I could pinpoint it to https://github.com/keonik/prisma-erd-generator/blob/f5afa685e254494341c979c5e1ec9f608b709c3e/src/generate.ts#L167-L174 which does not work on Windows.

A bit of hacking in `generate.js` did not help, so I uncommented the line that deletes the temp file afterwards, a

[2021-07-16 15:00] keonik commented on #2
Without digging into it, my guess is the file path I'm using isn't mapping to windows correctly. I built it only considering mac/linux. I can take this one. @janpio If you have some bandwidth I might need help validating it fixed the issue.

[2021-07-16 15:12] janpio commented on #2
Yep, on Windows you can probably generally not just execute a path starting with `.` and with the path, but need to supply the `cwd`. Even then I am not sure if running the file in `.bin` is the right approach here in general - I do not have the experience with this to evaluate. I knew that using `npx` in the project root would work - but not sure if that is the correct approach here either. Maybe

[2021-07-16 18:42] heystevegray opened #3 "Running `prisma generate` calculates a new `#mermaid-` id each time in the generated SVG"
All of the `#mermaid-1626460027650` strings look like they are using a Unix timestamp. When you run `prisma generate`, the output file's `#mermaid-` id's are updated and it appears as a file change in git. See the diff image below:

![image](https://user-images.githubusercontent.com/66500112/125993870-07de7559-7894-401a-869e-c43ccc766289.png)

[2021-07-16 18:54] heystevegray commented on #3
@keonik Looks like you can override the [deterministicIds](https://mermaid-js.github.io/mermaid/#/./Setup?id=deterministicids) setting in the mermaid configuration.

[2021-07-16 20:30] keonik commented on #3
Good idea. I was getting a little peeved it was updating in git for every commit.

[2021-07-17 20:35] keonik commented on #2
@janpio I've got a PR up for this but I went ahead and pushed to `next` on npm. Could you see if that works for you?

[2021-07-20 17:08] keonik commented on #3
@heystevegray After testing this in my projects the id's are still making their way through. It looks like the problem could be the path you provided to the config file. The config file also might need to be outside of `src` because when someone installs the package through npm they run from the `dist` directory

[2021-07-23 11:47] timosg opened #7 "Use @@map() and @map() names for output"
**Problem**
Using the @@map() or @map() annotation does not change the table/field name on the generated ERD.

**Solution**
Change names if @@map() or @map() annotation is provided.

[2021-07-26 15:50] janpio commented on #2
Hmmm, something weird is going on.

If I just run that version under `@next` nothing happens (Even when I fix #1 manually again).
But if I output the generated command with `console.log(mermaidCliNodePath, '-i', inputMermaidFile, '-o', output, '-t', theme)` and run that manually (`C:\Users\Jan\Documents\throwaway\repro8264\node_modules\.bin\mmdc -i C:\Users\Jan\Documents\throwaway\repro8264\prisma

[2021-07-30 04:58] keonik commented on #2
@janpio my next attempt will be to move away from the CLI and see if we can use the Mermaid API. I'm going to merge in what we've got because it's at least a step in the right direction.

[2021-07-30 13:27] rhufsky opened #8 "No output?"
I have a schema with a few tables, models omitted in the sample. Whenever I run `npx prisma generate`, the generator tells me that it has generated `./prisma/ERD.svg `, but the file does not show up in .`./prisma`.
[code]

Im using
[code]
My schema looks like so, models omitted in the sample:

[code]

[2021-07-30 21:26] keonik commented on #8
Everything looks good to me. Are you by chance using Windows OS? I know when I announced this I had only tested it on Mac OS and some other users are pointing out it's not working with Windows

[2021-07-31 06:11] rhufsky commented on #8
Sorry, I forgot to say, I tested on MacOS 11.5 and node v14.17.3.

I have now reduced my schema.prisma to the absolute minimum:
[code]
When run `prisma generate`, it looks like so:

[code]
Still no `ERD.svg` in `./prisma/`.

[2021-08-01 23:58] keonik commented on #8
This might be related to @heystevegray's suggestion to add in the `config.json` for the mermaid CLI. I'm trying to fix it with the windows usage fix.

[2021-08-01 23:59] #2 closed

[2021-08-04 07:47] rhufsky commented on #8
Thanks a lot, I upgraded to  `"prisma-erd-generator": "^0.3.5"`. In still tells me that it has generated `ERD.svg` but there is no file `ERD.svg`.

[2021-08-04 19:36] rhufsky commented on #8
Thanks a lot, now it works, I could generate a nice PDF ERD.

[2021-08-05 03:15] keonik commented on #3
@heystevegray I had to comment this change out. It was causing issues and wasn't generating ER Diagrams anymore #9

[2021-08-05 03:31] keonik commented on #1
@janpio I've tried adding the required engines section

[code]

I pushed that change out to the next version to test and I'm getting the same error I got before installing the engine

[code]

I might need some documentation on this to figure it out. What you recommended didn't seem to let me delete the engine

[2021-10-06 18:13] boredland opened #10 "No output"
Sadly for me (Arch Linux, nothing fancy), there is no output. For a test I did spin up a Github Workspaces instance with the latest commit. Running `npm run dev-test` here resulted in no new ERD.svg being generated.

[2021-10-06 18:59] boredland commented on #10
I think its mainly incompatible with ... everything. Will try and check if I can update it a bit.

[2021-10-07 02:50] keonik commented on #10
@davidecutrupi Can you test the `@next` version to verify it works on Windows and @boredland the same test with Linux?

[2021-10-07 02:54] keonik commented on #2
@janpio Can you validate `@next` version is working for you on Windows? Issue #9 also has someone testing on Windows so hopefully one of you two can test it and get this closed

[2021-10-07 06:56] #10 closed

[2021-10-07 17:04] janpio commented on #2
Seems I am to late to test this, but I can confirm `0.4.0` creates a valid .svg file on Windows 👍

[2021-10-07 17:11] janpio commented on #1
Nice that you could figure out how this is actually supposed to be used - this implementation is now our internal reference and good example :D

[2021-10-12 16:45] keonik opened #12 "Versioning"
Apply semantic version or equivalent documentation to Github actions

https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/github-actions.md

[2021-10-14 13:59] keonik commented on #7
Nevermind. This won't work. I've gotta find another way to fix this

[2021-10-15 05:54] #7 closed

[2021-10-15 16:17] keonik commented on #8
@jsbrain It looks like version >=0.4.1 and further stopped outputting an SVG on mac. v0.4.0 looks to still be outputting.

[2021-10-16 17:28] Jason-Abbott opened #16 "Fails on Windows if more than a few models"
This line
[code]
throws
[code]
I have about 30 models in a `schema.prisma` that's 480 lines — so not that big, really. I can copy out the command and run it directly from the Windows terminal without trouble, i.e.
[code]
so pretty sure it's just a *node* Windows limitation.

I am looking into whether there's a different way to process the file.

[2021-10-18 18:46] #16 closed

[2021-10-23 16:31] Jason-Abbott opened #18 "@ignored fields should still be diagrammed"
I routinely @ignore the sides of a relationship I'll never traverse since my generated type file is already over 40K lines with only a dozen tables. For example,

[code]
If I do this, however, the relationship disappears from the diagram. I would like the option to include all relations even if one side is ignored for the purpose of the generated types.

I will look into this and see if I can come

[2021-10-25 15:43] #18 closed, assigned to nobody

[2021-11-12 19:31] janpio opened #24 "Error: could not parse datamodel"
I have a recent schema (39 models) created via `db pull` with `3.4.2`. Unfortunately no svg is created and with `DEBUG=*` I see this error message:

[code]

What is the best way to debug this?

(I unfortunately can not share the schema here)

[2021-11-12 19:48] janpio commented on #24
Seem the base64 was too big for the Prisma Query Engine CLI and the param `--datamodel`, but writing the plain model to a file (could also have used the path instead probably) and using `--datasource-path` worked and I got a SVG 👍

[2021-11-12 19:50] janpio opened #25 "No m:n relations rendered"
I have a Prisma Schema that is based on a Prisma 1 schema, and only has m:n relations. Is it intentional that m:n relations are not rendered at all?

[2021-11-12 20:53] keonik commented on #24
@janpio It might be related to #16.

[2021-11-12 21:01] keonik commented on #25
Definitely not. I just realized that as well.

[2021-11-12 21:18] keonik commented on #25
It looks like there isn't a specific many-to-many relationship callout https://mermaid-js.github.io/mermaid/#/entityRelationshipDiagram but the zero to many is probably what we need. I'm gonna see if the temp mermaid file is generating it correctly

[2021-11-15 01:50] keonik commented on #24
@janpio Did you say you fixed this above or was an upgrade to the latest version enough of a fix. The write to temp file was in the latest version last I checked so it should solve the base64 issue.

[2021-11-15 01:51] keonik commented on #25
@janpio I'm not sure what the final version should look like for the m:n relationships but I do want to get something out there drawing the connections now and changes can be made.

[2021-11-15 01:53] #25 closed

[2021-11-15 08:47] janpio commented on #24
I installed from Npm, so am/was using `"prisma-erd-generator": "^0.5.3"`. But what I see at https://github.com/keonik/prisma-erd-generator/pull/17/files looks exactly what I did manually as well. Could it be that `0.5.3` somehow does not include these changes?

[2021-11-15 08:47] janpio commented on #25
Awesome - will test this out then!

[2021-11-15 08:50] janpio commented on #25
Yep, that definitely did something:
![image](https://user-images.githubusercontent.com/183673/141750988-59e289eb-472c-4048-b794-f93d7c34cc17.png)

Nice!

[2021-11-15 15:37] keonik commented on #25
@janpio Do you think that's acceptable having two lines drawn and separate relationship names? I just took the easiest solution to push out something. I tried to adjust to having one line with the m:n relationship drawn but the relationship name added some confusion there.

[2021-11-15 15:38] keonik commented on #24
I'm gonna see if its included in the `0.6.0` release with the m:n

[2021-11-15 15:49] keonik commented on #24
<img width="668" alt="Screen Shot 2021-11-15 at 10 48 28 AM" src="https://user-images.githubusercontent.com/46365891/141811713-0c0fdfd2-3a6f-4d86-bc98-f4d88c585c4b.png">

I'm seeing usage of the `--datamodel-path` in v0.6.0. Assuming that's a similar fix I think we can close this @janpio

[2021-11-15 17:53] janpio commented on #24
Agree 👍

[2021-11-15 17:53] #24 closed

[2021-11-15 17:55] janpio commented on #25
This is definitely better than not having any lines - so there's that 😆

The two lines on the other hand are indeed pretty confusing. It is a shame there is no better representation.

The schema I showed above does technically not even have m:n relations mostly, but is based on the SQL of a a Prisma 1 schema that unfortunately does not encode the information what kind of relation we are looking at

[2021-11-15 20:17] keonik commented on #25
I can try to make a single line for the relationship added in there but it seems every time I try it it doesn't start with the proper many relationships. For now, my goal will be to just get the m:n down to one line and see if I can get it closer. We're at the limitation of mermaid in this instance though.

Unrelated I have been debating making a generator without mermaid. Its on my backlog 😅

[2021-11-20 23:02] mshige1979 opened #27 "Unable to create svg file"
schema.prisma
[code]

### generate
[code]

### result
[code]

What should i do?

[2021-11-22 17:32] keonik commented on #27
The `prisma.mmd` is a temporary file I was using to test an unrelated issue. I forgot to remove that. I will add that in `0.6.1` to remove that file again. As for not generating though... I tried the output and usage and it worked for me assuming the directory already exists you're writing to. Which means its something in your schema. I will try it out when I get some more time.

[2021-11-22 18:32] dvnrsn commented on #27
Cool idea. Experiencing the same (just an outputted mmd), no ERD 😢

[2021-11-22 19:30] keonik commented on #27
@dvnrsn If you can post your prisma.schema and OS. I believe we've solved the OS specific problems and are down to schema specifics but it would be nice to have still

[2021-11-23 21:17] keonik commented on #27
@mshige1979 and @dvnrsn can you try and install the newest version and see if this is still the case?

[code]

[2021-11-24 00:27] keonik commented on #27
@mshige1979 I ran your shared schema and got an SVG on version `0.6.1`
<img width="399" alt="Screen Shot 2021-11-23 at 7 26 55 PM" src="https://user-images.githubusercontent.com/46365891/143149536-ecb95d41-2fcc-4684-b3ea-e33df0b117c5.png">

[2021-11-24 00:27] #27 closed

[2021-11-25 15:20] mshige1979 opened #28 "I can't create svg with Docker (Debian)"
What do you need to create in Debian or Ubuntu?

Docker Image：node:16
https://hub.docker.com/layers/node/library/node/16/images/sha256-1d35d3b639b639fb55d955d271c1da97d9e730c7dc0b9bae352a63c50b7c12c1?context=explore

package.json
[code]

schema.prisma
[code]

[2021-11-25 16:42] keonik commented on #28
It shouldn’t be anything different. The only thing OS dependent is the prisma engine.

[2021-11-25 16:44] keonik commented on #28
We even do a smoke test to check all the OS on a new PR. [ubuntu 15](https://github.com/keonik/prisma-erd-generator/runs/4206684385?check_suite_focus=true)

[2021-11-25 16:55] keonik commented on #28
https://github.com/keonik/prisma-erd-generator/blob/2284f6b7b9e9bdf093c970ebbd361992b3e8ab3c/src/generate.ts#L210 if you form the repo and want to see if it runs locally log out that line and it should show you what engine you’re running. The only new thing I could see affecting your no output would be Docker. I’m not sure if we have had people running prisma generate yet in docker. As long as you

[2021-11-27 01:29] mshige1979 commented on #28
It seems that there was an error in mmdc.
I recreated a new dockerfile and ran it and it worked.

### dockerFile
[code]

### build
[code]

[2021-11-27 01:31] mshige1979 commented on #28
![ERD](https://user-images.githubusercontent.com/3000502/143664057-84b3c24d-375f-4ad1-9dc6-06f81214fb5b.png)

[2021-11-27 02:16] #28 closed

[2021-12-03 16:18] jasonmacdonald opened #36 "No output generated"
I've looked through all the other topical issues and it seems even with the latest version I still cannot get it to produce any output, despite saying it completed just fine :(

OS: MacOS 12.0.1
package version: 0.6.1

Schema
[code]

Console log says everything is fine

[code]

But no diagram is produced.

[2021-12-04 00:20] jasonmacdonald commented on #36
It appears it's looking for the mmdc file in the wrong place.

_NOTE: I removed some of the path and replaced them with `${PROJECT_ROOT}`. This is just the path to my project root.

[code]
 It should be looking here
[code]
but instead it's trying to find it inside my NX/libs folder

[2021-12-06 03:02] keonik commented on #36
Hey Jason! I'm out on some paternity leave so I will get to this when I have some more time. I'm seeing a lot of others running into similar problems and I think its a project setup issue. I started this off of the base case of

[code]

and running the project from the project dir.

It works for that but there are some use cases I'm not thinking of. Is your situation any different from this?

For

[2021-12-07 04:04] kefniark commented on #36
Same issue there
[code]
But no file to be found anywhere

* Node 16
* Windows 10
* `prisma@3.6.x`
* `prisma-erd-generator@0.6.1`

[2021-12-07 04:12] kefniark opened #37 "Dist Folder Issue"
## Description
Looking for debugging this library, noticed something strange. The dist folder contains different outputs and duplicates files.

[code]

Looks like something was caused by a tsconfig change at some point.

![image](https://user-images.githubusercontent.com/4903529/144964527-a7894448-6384-4e6f-89fd-392d8ea54c07.png)

Improvement ideas:
* Clean dist folder before running build
* Exclu

[2021-12-17 06:04] keonik commented on #36
I'm gonna add mermaid cli as a peer dependency that way it at least warns to install it as a dev dependency. It should already be included though as its a dependency for the package.

[2021-12-17 06:13] keonik commented on #37
Good suggestions. The cleanup for the dist folder was already happening but I'll add it as a prebuild step. I have no idea why the src directory is included.

[2021-12-17 07:10] #12 closed

[2021-12-18 01:30] keonik commented on #36
`0.7.0` is going to hopefully throw some errors if the mmdc library is missing or if the file isn't generated. It won't fix the no output generated but it hopefully will throw errors and get people to share whether they're getting the mmdc path correct or the cli command is failling.

[2021-12-18 01:31] #37 closed

[2021-12-18 01:35] keonik commented on #36
@jasonmacdonald @kefniark Could one of you try out the next version and see if it at least throws errors for you?

[2021-12-22 03:26] kefniark commented on #36
I confirm, now it throw an error if mermaid-cli is not available locally 👍
[code]

[2021-12-26 03:46] keonik commented on #36
Yeah easiest way forward there is to make the directory you want to output to. I'm closing now that this will give better insight into where the issues are coming up.

[2021-12-26 03:46] #36 closed

[2021-12-29 10:34] yovanoc opened #41 "env var to not generate"
It would be a good idea for my use case and maybe others to have a way, with env var for example to cancel the generation in CI pipeline

thanks

[2021-12-29 14:49] keonik commented on #41
Seems easy enough to add that in. Are you able to put in a PR? If not I can get to it sometime early January.

[2022-01-05 19:01] janpio opened #48 ""Generating single mermaid chart""
Using the current version, I get the following output:

[code]

Might be that `Generating single mermaid chart` is some leftover debugging output.

`"prisma-erd-generator": "^0.8.0"`

[2022-01-05 19:03] janpio opened #49 ""Maximum Text Size In Diagram Exceeded""
When creating a diagram for the following Prisma schema (via https://github.com/prisma/prisma/issues/10856#issue-1088186269) I get a "Maximum Text Size In Diagram Exceeded" instead of a real diagram:

[code]

[code]

Seems this is configurable: https://stackoverflow.com/a/63168255

[2022-01-10 04:22] keonik commented on #49
@janpio I tried to write a test with your schema and it was throwing unrelated issues when it came to parsing the data model into a string before getting to mermaid cli. If the `prisma-erd-generator@next` version fixes your issues let me know.

[2022-01-10 04:24] keonik commented on #48
I looked through the repo and couldn't find it anywhere. I have seen the same though. I'll leave it open until a version has been tested without it

[2022-01-10 04:57] keonik commented on #41
@yovanoc I pushed to `prisma-erd-generator@alpha`. Give it a test for me when you get a chance.

[2022-01-10 08:27] janpio commented on #48
Then probably something in Mermaid even. Not a big deal fortunately.

[2022-01-10 09:22] janpio commented on #49
With `prisma-erd-generator@next` I can indeed generate an ERD. Has a lot of unnecessary whitespace around it, but there is a graph.

[2022-01-10 09:22] #49 closed

[2022-01-10 18:30] keonik commented on #49
@janpio included in v`0.8.1`.

[2022-01-10 18:34] keonik commented on #49
@all-contributors please add @janpio for finding a bug

[2022-01-10 18:36] keonik commented on #48
It looks like they have some logging levels for their config. I could test it out. Or find a way to hide it. I'll take a look

[2022-01-17 22:59] TMInnovations opened #53 "Works locally but not when generated inside Dockerfile (node:15)"
Error:
[code]

Version:
`"prisma-erd-generator": "^0.8.1"`

Generator Part inside schema.prisma:
[code]

Dockerfile:
[code]

[2022-01-18 13:53] keonik commented on #53
I can replicate. The last version to work with docker was 0.6.1. I need to dig through the commits to see what happened in 0.7.0 to see if there is a way to make everyone’s use case work.

[2022-02-02 17:23] justindasilva commented on #53
I am seeing the same issue as well:
[code]

By the way, is there a way to only have erd diagrams generate when in a dev environment?

I really only see a need to run the erd generator if a change is detected in the `schema.prisma` file.

[2022-02-02 17:44] justindasilva commented on #53
I don't know if this is related, but at my workplace, when I started using `prisma-erd-generator`, I actually got a warning popup on my machine that the Cortex XDR (malware scanner) suspected malicious activity in application name: `query-engine-darwin`

I can use Prisma to generate all my models, but it is only after adding:
[code]
to my `schema.prisma` file, that I see this error popup. (And the

[2022-02-02 18:13] keonik commented on #53
Oh, that's interesting @justindasilva. I haven't had the time to figure out which version specifically started failing in docker. For my usage, I have been using an older version when I need to use docker. I like the idea of having it as an option to bypass. I tried the environment variable directly and it doesn't appear to be working in this PR https://github.com/keonik/prisma-erd-generator/pull/

[2022-02-04 06:30] y-koyamatsu opened #60 "I can not create ER image..."
y-koyamatsu@koyamatsuyukinoMacBook-Pro prisma % npx prisma generate

[code]

I got above error.... How I can do to slove this???

[code]

[2022-02-06 22:14] T3NED commented on #60
I am experiencing the same issue on both Windows and Linux.

### Error
[code]

### Dependencies
[code]

[2022-02-07 17:01] keonik commented on #60
Many issues are happening around mermaid cli usage. Could you try installing `@mermaid-js/mermaid-cli` as a dev dependency and see if that solves the issue? I'm hoping that works for you.

[2022-02-07 21:37] T3NED commented on #60
Amazing! All is working now, thank you 👍

[2022-02-07 22:50] keonik commented on #60
I’ll add this to the docs. Apparently the labeling of that library as a peer dependency isn’t installing it for everyone.

[2022-02-08 01:03] #60 closed

[2022-02-10 22:48] aladinflux opened #62 "Not working for MongoDB"
When using mongodb, the erd doesn't create any relationships. Is it possible to use the relationships from the schema file rather than the SQL foreign keys?

[2022-02-15 19:45] keonik commented on #62
It's probably possible. I'm a little swamped with a newborn currently. If you anyone wants to work on this I'd be happy to review a PR!

[2022-02-18 06:13] keonik commented on #48
Fixed in version `0.9.1`

[2022-02-18 06:13] #48 closed

[2022-02-18 06:19] keonik commented on #53
I tested in the latest version `0.9.1` and it seemed to work for me again. Closing as I didn't see the issue after the latest upgrade.

[2022-02-18 06:23] keonik commented on #53
Spoke too soon 😢

[2022-02-18 07:18] keonik commented on #53
For now, the easiest route for my projects is the add-in a `DISABLE_ERD=true` to my environment variables when needed.

[2022-02-18 07:18] #53 closed

[2022-02-18 17:53] janpio commented on #62
What does your schema look like @aladinflux? Generally the syntax is not _that_ different, so I would be surprised if the ERD generation would fail because it being for a MongoDB database.

Can you share your Prisma schema here?

[2022-02-18 17:57] janpio opened #64 "Heads up: Composite Types"
We will soon release a new feature, that is relevant for ERD generation: Composite Types. They are pretty much like Models, but represent Embedded Documents for MongoDB for example:

This is what the underlying data looks like: https://docs.atlas.mongodb.com/sample-data/sample-airbnb/

And this the schema:
[code]

So we have one `model`, that then uses quite a few `type` in place where there could

[2022-02-18 18:06] janpio commented on #64
Some more examples:

[code]

[code]

[code]

[code]

[code]

[2022-02-18 19:12] ddhorstman opened #65 "Schema generation fails under WSL"
I'm interested in using this for a project, but I'm unable to get it to generate even a basic diagram.

UPDATE: It turns out the issue is that puppeteer, which is a dependency of mermaid, [doesn't work under WSL](https://github.com/puppeteer/puppeteer/issues/1837). There's no way you would be able to fix this.

[2022-02-18 20:32] keonik commented on #65
Yeah, that's unfortunate. Well, there are a few ways to solve this and a few have been tossed around but not actively pursued. Maybe now is time to make issues for those.

Options
- rewrite to move away from mermaid (and puppeteer)
- Do an online version that hits an API that will generate the file for you (OS agnostic)

I was most interested in the first one but have yet to think through replacin

[2022-02-18 20:41] keonik commented on #64
It looks pretty similar to model at first glance, just doesn't have the explicit `@relation` attached. Thanks for the heads up! If I get some time I'll play around with what is here to see if I can get it rendered correctly

[2022-02-18 20:43] ddhorstman commented on #65
Yeah, I think it would definitely be worth considering replacing mermaid! For what it's worth, when my colleague generated a schema for us, mermaid didn't do a very good job rendering it anyway. Although admittedly our schema is fairly complex.

![schema](https://user-images.githubusercontent.com/7649736/154758561-d9850e6a-a5ff-4dca-9653-3b4417a24519.png)

[2022-02-22 14:16] HeinKoZin opened #66 "Could not parse datamodel"
Error: could not parse datamodel
    at Object.exports.default [as onGenerate] (D:\My Projects\Nestjs\crud-test\node_modules\prisma-erd-generator\dist\generate.js:175:19)

"prisma-erd-generator": "^0.9.2",

[2022-02-23 02:25] keonik commented on #66
@HeinKoZin could you share your schema, OS, and Node version.

[2022-02-23 02:47] HeinKoZin commented on #66
Hi, it is fixed by upgrading node version. Thanks.

[2022-02-23 15:48] janpio opened #68 "Running tests locally fails"
[code]

Not sure what I am doing wrong.

[2022-02-23 15:48] janpio commented on #68
Ah, running the command that fails gives me some output:

[code]

I think I remember that from before.

[2022-02-23 15:53] janpio commented on #68
I am running this in Gitpod, and this list of commands fixed the problem for me: https://github.com/jankeromnes/gitpodPuppeteerTest/commit/30e4d45343160e1f0d9266e0a17d96a5d5d5a80f (via https://community.gitpod.io/t/using-puppeteer-libnss3-no-file-or-directory-issue-on-gitpod/1762/9)

[2022-02-23 15:53] #68 closed

[2022-02-23 17:06] janpio commented on #62
Ok, I looked into this a bit and found the problem.

This is a standard Prisma schema for MongoDB:

[code]

And this is what Mermaid can render as table columns:
[code]

Note how all the `@id` values are really `_id` in the database? Mermaid does not like that unfortunately.

Not sure what the best way forward here is. If they allowed any other characters we could do `id_(_id)` so also signify the

[2022-02-23 17:47] janpio commented on #62
For now I added a `z` in front of `_id` to make `z_id` which makes the field name valid.

[2022-02-23 18:39] janpio commented on #64
I wanted to visualize some of our schemas with composite types, so I spent a few minutes and implemented a first quick and dirty version of this: https://github.com/keonik/prisma-erd-generator/pull/71

[2022-02-23 19:19] janpio opened #72 "Table only mode"
Sometimes the ERD gets so big, that just having an overview of the tables and relations is enough. Would be great if the generator had a config option to enable that.

In Mermaid this is achievable by just not have any table definitions (with type -> name lists).

[2022-02-23 19:23] janpio opened #73 "Column names with spaces make ERD invalid"
In https://github.com/keonik/prisma-erd-generator/issues/64#issuecomment-1049092801 I had one schema that did not work for some reason. Here is the Mermaid code for it:

[code]

Turns out that some of the "tables" have invalid (for Mermaid) field names with spaces:

[code]

We either need to replace these spaces, or use the non mapped Prisma field name (which can not contains spaces) here instead.

[2022-02-23 19:25] janpio opened #74 "FYI: Generated mermaid ERDs can now be rendered in GitHub READMEs and issues"
[code]

[2022-02-23 21:35] aladinflux commented on #62
I think that I should open a ticket in Mermaid to see if they can work on allowing names starting with underscore

[2022-02-24 11:14] janpio commented on #62
That would be of course the _perfect_ solution. Probably not easy for them because of the grammar of the language (same problem that made Prisma also only support field names starting with alphanumeric characters and introduce `@map`)

[2022-02-24 15:52] keonik commented on #62
@janpio @aladinflux version `0.10.0` is up

[2022-02-24 16:29] keonik commented on #72
I like that idea! Config options would be preferred over environment variables but for some reason when I tried using config params in the generator they weren't playing well. I need to try this out again

[2022-02-24 18:10] keonik commented on #62
Probably should have left that in pre-release. I'm getting some errors on a postgres schema for dbName null values

[2022-02-24 18:24] janpio commented on #62
Ohoh. Sorry. Seems we need more tests then :/

[2022-02-24 18:51] keonik commented on #62
All good! I'll make a new issue. Are things good on your end?

[2022-02-24 19:56] keonik opened #75 "TypeError: Cannot read properties of undefined (reading 'dbName') version `0.10.0`"
[code]

# schema
[code]

# dataModelString
[code]

#  mapped models

[code]

mentioned in #62

[2022-02-24 19:56] keonik commented on #75
@janpio I'm loving this debug output already 😎 Thank you

[2022-02-26 14:58] HeinKoZin commented on #66
I still got the same error.
`// This is your Prisma schema file,
// learn more about it in the docs: https://pris.ly/d/prisma-schema

generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "postgresql"
  url      = env("DATABASE_URL")
}

generator erd {
  provider = "prisma-erd-generator"
}

model Movie {
  id          Int @id @default(autoincrement())
  imdb_id     Str

[2022-02-28 19:11] mmahalwy commented on #75
yep, same here.

[2022-03-01 22:38] TMInnovations commented on #75
same here

[2022-03-06 11:26] tobkle commented on #75
same problem

[2022-03-07 15:43] keonik commented on #75
For now, if you have this issue revert to version `0.9`.

[2022-03-09 02:50] keonik commented on #75
Agreed. I'll take it here soon

[2022-03-09 03:44] keonik commented on #75
It ended up being an old prisma engine error. The older version I am/was using throws an error for `dml.types` not defaulted to an empty array. So it was pushing an undefined into the `modellikes`. Will be shipped here soon in `0.10.1`

[2022-03-09 04:03] #75 closed

[2022-03-09 04:09] keonik commented on #66
I'm going to push out an branch with your schema to see what the disconnect is

[2022-03-09 04:11] #62 closed

[2022-03-17 00:07] sdegutis opened #81 "Option to skip intermediate tables"
For many-to-many relationships, in SQL we need an intermediate table. But it seems to clutter the ERD. Can we have an option to omit it, and instead draw a many-to-many directly between the two tables? I assume the intermediate model will need a meta flag for this.

[2022-03-17 00:13] sdegutis commented on #81
Never mind, I was just using Prisma wrong. Oops :)

[2022-03-17 00:13] #81 closed

[2022-03-17 11:00] jsbrain opened #82 "Option to ignore certain tables"
How about a flag/regex to ignore certain tables/relations?

I got some "system" tables that I don't really want to end up in the ERD but they will obviously be introspected by prisma.

What do you think of that? Could be a good complement for https://github.com/keonik/prisma-erd-generator/issues/72.

Related: https://github.com/prisma/prisma/issues/807

[2022-03-20 01:54] keonik commented on #82
Would it ignore tables and fields or just tables and relationships? I kind of like the @@ignore over the .prismaignore

[2022-03-20 16:02] jsbrain commented on #82
I'm personally interested in ignoring tables and relationships so far, which help to narrow down the ERD by not having to many nodes and edges. Ignoring field particularly may be interesting for some users though but I would rate this as a secondary goal.

One could potentially salvage some of the `.prismaignore` feature although if I understand it correctly it will only work if the schema has alr

[2022-03-20 16:12] jsbrain commented on #82
My current "solution" is the following script I call from `package.json`. It first creates a "pure" prisma schema, removes/modifies the generators and then just calls `prisma generate` on the cleaned up schema.

[code]

I just though this could be a nice core feature and probably be valuable for more users so I decided it's time to get some feedback on this and see if anyone is interested.

[2022-03-21 03:54] keonik commented on #82
Personally I like the ignore param with regex patterns because it should stay separate from any future prisma updates.

[2022-03-30 08:44] orendaeko opened #83 "Nullable or not on generated erd"
Hi there,

thanks for this useful tool, just need to know can we see the required or can nullable at every field on ERD after generated?

[2022-03-30 14:47] keonik commented on #83
As of now, I don't think it shows that. It should though! Good find.

[2022-03-31 07:55] TMInnovations commented on #53
Sorry to have to reopen this.

Am I right? => In `0.9.1` it's still not possible to generate the erd inside a docker build. So this issue is not resolved, is it? If you don't want to address this issue I can also try to contribute if you tell me where to start. :-)

All the best,
Thomas

[2022-04-01 01:09] keonik commented on #53
I think the consensus is to use the generate outside of docker and disable it in docker. It is not resolved to work in docker yet. When I saw it working in version `0.6.1` I tried to see anything that pointed out the diff in code between that and `0.7.0` and didn't see the easy fix I was looking for. If you wanted to work on it I would start with those versions and see what has changed

[2022-04-04 02:32] orendaeko commented on #83
noted thanks for ur attention, hopefully can enjoy this feature

[2022-04-04 04:05] #66 closed

[2022-04-04 04:08] keonik commented on #66
@HeinKoZin The schema you have in this issue has been added to the test suite. It passed on windows, mac, and linux testing for node versions 12,14, and 16. My best guess here is just having an older version of prisma. I believe I'm going to require the latest version of prisma in the next release just to ensure composite types don't cause issues similar to this issue you are seeing.

[2022-04-23 04:57] Nypeeh commented on #24
I had the same problem. "Error: could not parse datamodel".
I solved that with a simple solution above.

My directory to the folder project was:

[code]

Pay attention that "Projetos Gerais" has a blank space

My solution was replace that space to "_".

[code]

### Fixed directory
[code]

After that, the error was solved for me. I hope this can help someone.

[2022-04-28 19:12] ripry commented on #72
@keonik Hi, I created a PR(#90).
I hope the changes are what you imagined.

[2022-05-07 04:07] keonik commented on #73
I'll throw something up to replace the spaces for now. This might be a point where we could add another config option to switch between using map vs prisma field names

[2022-05-09 04:47] alec-pirillo-le opened #97 "braintree/sanitize-url audit issue"
Mermaid relies on braintree/sanitize-url, which has a security issue that was patched in 6.0.0. This dependency was fixed in mermaid >9.0.0, however  prisma-erd-generator still reference an older 8.14.0 version. Can we get a new release with updated dependencies?

[2022-05-09 16:11] #73 closed

[2022-05-09 17:01] #97 closed

[2022-05-09 17:08] keonik commented on #64
@janpio How are we doing on this? Anything left to refactor?

[2022-05-09 22:24] alec-pirillo-le commented on #97
@keonik It would still be great if this package was updated to depend on mermaid 9.0.0 so people don't need to manually fix.

[2022-05-10 12:23] keonik commented on #97
It should be dependent on that in the release. I’ll check again today.

https://github.com/keonik/prisma-erd-generator/blob/c792db771fa343fcbc623bff531770d9c179fe7b/package.json#L74

[2022-05-20 15:20] sschun123 opened #98 "Generating files that don't render"
I'm able to successfully generate files of the different extensions but they all seem to be empty/not working.

I unfortunately cannot provide my full schema file as it is work related but if I need to then I can obfuscate the names.

[code]

[code]

- I have no reason to believe my models are improperly defined since prisma has been working as intended
- My file structure seems in line with what

[2022-05-25 18:50] EuSouVoce opened #99 "Not generating ER Diagram"
### Already tried:

- ``npm i -D @mermaid-js/mermaid-cli``
- ``npm i -D prisma-erd-generator@latest``
- triple check the schema.prisma

``Error: Issue generating ER Diagram. Expected ~\ERD.svg to be created
    at exports.default [as onGenerate] (~\node_modules\prisma-erd-generator\dist\generate.js:269:19)
    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)
    at asy

[2022-05-26 03:19] keonik commented on #98
My first suggestion will be to enable debug mode which will show you what it is generating along the way. In almost all these cases thus far it has been a new edge case we need to add a fix for.

The only thing I see out of the ordinary above would be the provider link. Is there a reason you're running node and pointing to the library in your node_modules?

Here is what I'm used to seeing

[code]

[2022-05-26 03:33] keonik commented on #99
No ideas yet. That error is hit when the final file is missing. It could fail at many points before that.

My first suggestion will be to enable debug mode which will show you what it is generating along the way. In almost all these cases thus far it has been a new edge case we need to add a fix for.

[code]

[2022-05-26 04:23] keonik commented on #83
So I tried to work on this today... No luck yet. Would love some ideas.

I was trying to add a symbol to the mermaid syntax that would signify required or nullable that would not cause issues with the cli generation step. So far I tried `*`, `?`, `!`, `^` and they all fail to generate. Any other ideas?

[2022-05-26 04:48] keonik commented on #83
Found a way to do it. Don't love it but I think its the only way forward. PR incoming

[2022-05-26 04:50] keonik commented on #83
and by PR I mean... I pushed to main 🤦🏼‍♂️ release incoming

[2022-05-26 05:13] keonik commented on #83
released in `0.11.4`

[2022-05-26 05:13] #83 closed

[2022-05-26 05:16] EuSouVoce commented on #99
https://pastebin.com/JePdKFHc
hi, i've pasted the console output here

[2022-05-26 05:21] keonik commented on #99
[code]

[2022-05-26 05:22] keonik commented on #99
Looks like everything is good in the mermaid syntax. Next would be to figure out where it could fail in the CLI

[2022-05-27 04:12] keonik commented on #74
This is actually easier than I thought... I'm going to change the markdown generation type to just write straight to file with the dml to mermaid function.

[2022-05-27 04:16] keonik commented on #74
🤦🏼 It's [already done](https://github.com/keonik/prisma-erd-generator/blob/main/src/generate.ts#L382).

[2022-05-27 04:16] #74 closed

[2022-05-27 04:32] keonik commented on #65
The [original issue](https://github.com/puppeteer/puppeteer/issues/1837) has some fixes out there for this problem related to puppeteer. Even if there isn't a fix for puppeteer, you should be able to generate a diagram in markdown because that file type skips mermaid cli and they render in markdown in github and gitlab. The other discussion is replacing mermaid with a new generator for these file

[2022-05-27 04:32] #65 closed

[2022-05-27 04:42] keonik opened #102 "Replace Mermaid"
Most of the issues related to this repository have been related to getting mermaid cli to generate a file. Variables that I've noticed so far are

- Operating System
    - #2
    - #65
    - #27
- file length
    - #49
- Docker
    - #28
- node module mapping
    - #29

There are also ideas for extension such as

- Large schema(s) not filling space in a smart way
- Limited color schemes

This issu

[2022-06-05 17:12] zkulbeda opened #104 "Fails to find mmdc binary in Yarn 2 with Plug'n'Play"
[Example repo](https://github.com/zkulbeda/prisma-erd-generator-issue)
Error:
[code]
or another error:
[code]

[2022-06-08 16:44] keonik commented on #102
Also #104

[2022-06-08 16:56] keonik commented on #104
This is the most common problem we keep running into. `node_module` mapping to successfully call a CLI for Mermaid. Happy to review PR's related to a fix. It seems all that have been merged have fixed for one case and failed for the next. In the meantime, to generate in a format that will skip the CLI failure you could generate to markdown

[code]

I just tried it out and it generated successfully

[2022-06-08 18:08] zkulbeda commented on #104
It really worked! Thank you.

[2022-06-08 20:25] keonik commented on #99
@EuSouVoce Any chance to try out the debug mode and get some more validation? As a fallback you can just use the markdown output and it will generate the ER above

[2022-06-13 13:36] icazemier commented on #102
We've seen a considerable amount of disk space occupied bij the installed npm package of Mermaid cli.
Confusing is they expect to have puppeteer installed also (why isn't this in mentioned in their `.npmignore`)?

[code]

A scan by GrandPerspective:
![image](https://user-images.githubusercontent.com/64091093/173365512-74a51531-5caf-4638-b0c3-e6a3a2528472.png)

[2022-06-16 10:33] janpio opened #105 "Upcoming rename of `@prisma/sdk` to `@prisma/internals` wih Prisma 4"
Hey,

Jan from Prisma Engineering here.

Quick heads up that we will soon rename our `@prisma/sdk` package to `@prisma/internals` with Prisma 4, which we plan to release on June 28th (soon!).

The `@prisma/sdk` package was meant as an Prisma internal package only, but somehow it leaked out over time and is now used across all kinds of tools - including yours of course 😄

With the rename of the Npm

[2022-06-22 16:04] Jolg42 commented on #105
Note: You can try prisma packages on the `dev` tag on npm, like `@prisma/internals@3.16.0-dev.84`

[2022-06-30 10:20] Jolg42 commented on #105
@keonik Prisma 4.0.0 was published on Tuesday :canoe:

The internal package `@prisma/sdk`
- was published for the last time to ease the upgrade (in the future we might reuse the package name, but its content will be different)
- marked deprecated on npm
- available under the new, more explicit package name `@prisma/internals`.

If you’re using `@prisma/sdk` (now `@prisma/internals`), it would be h

[2022-07-02 03:02] keonik commented on #105
@Jolg42 as far as I know I'm only using `@prisma/generator-helper` to leverage the generator interfaces such as getting query engine and [parsing the datamodel](https://github.com/keonik/prisma-erd-generator/blob/main/src/generate.ts#L122) so I can convert it to mermaid syntax

[2022-07-02 03:08] #98 closed

[2022-07-02 03:08] #99 closed

[2022-07-11 18:43] keonik opened #112 "Versioning improvements"
Right now I'm manually versioning and using a bit of standard-version and npm publish to push out new versions. As you can see, it's not going well and I'll need to peek around and see what others are doing but I'd like to improve this. Any suggestions for improvement are welcome!

[2022-07-14 11:58] Markkos89 commented on #104
Hi @keonik , such a great generator, thanks and congrats.

Just for letting you know, running on a WSL2 ubuntu 22 distro, with the --data-proxy flag, the generator fails.. also added the output as you suggested here previously. The ouput is:

![image](https://user-images.githubusercontent.com/2791028/178977017-08457be1-a3d9-43e8-b652-d96924aa871b.png)

workaround to it by creating an **empty** `er

[2022-07-14 12:27] zkulbeda commented on #104
Hi @Markkos89, Github has build-in support for rendering [mermaid](https://github.com/mermaid-js/mermaid) language syntax. Just push `.md` file into github repo and check it out. On the other hand, you can render mermaid code manually on https://mermaid.live/edit

[2022-07-14 14:19] keonik commented on #104
I believe all that is in the generated mermaid markdown file is something like this

[code]

So if you copied the contents out of that generated markdown file and into your README.md wherever you want to put it, it should render for you.

[2022-07-21 18:37] blueelvis opened #113 "[Windows] - ERD Generator fails if current directory path contains spaces"
Hi!

First of all, really good tool!

The tool is not able to generate when the current directory contains spaces. Following is an example -
[code]

I took the mermaid command and wrapped up in quotes and I was able to execute it in Powershell
[code]

[2022-07-25 21:42] francismanansala opened #114 "Table and column name mapping bug"
Hi, I've encountered a weird bug with how I'm using mappings and `prisma-erd-generator`. Everything in Prisma generates the way I'd expect but `prisma-erd-generator` generates a svg for me with names I'm not expecting. Here's some example that recreates the issue:
`prisma.schema`:
[code]

SVG generated by `prisma-erd-generator`:
![erd](https://user-images.githubusercontent.com/10519099/180878878-d

[2022-07-26 04:32] keonik commented on #114
You're not doing anything wrong. That's interesting. Without starting it up to troubleshoot I'm guessing its got something to with the placement of `@@map` as of now. Could you turn on debug mode and see what your mermaid generated file looks like?

[2022-07-26 14:03] francismanansala commented on #114
Here's the output from the debug mode

`prisma.mmd`
[code]

It looks pretty similar to the svg

[2022-07-26 14:27] keonik commented on #114
I think I found it. Its related to the `mapPrismaToDb` function. The way `@map` and `@@map` are being read in are incorrect. Working on it

[2022-07-26 14:28] keonik commented on #114
[mapToPrismaDB](https://github.com/keonik/prisma-erd-generator/blob/main/src/generate.ts#L294)

[2022-07-26 15:55] #114 closed

[2022-07-26 15:59] keonik commented on #114
@francismanansala can you give v1.0.2 a test. I'm trying on my project now but I didn't have this issue before. Test case was written so I'm assuming this is safe to be closed

[2022-07-26 16:09] francismanansala commented on #114
Works perfectly within my test scenario and project 🚀 Thanks for the quick turn around on this @keonik!

[2022-08-05 09:48] cjoecker opened #120 "Allow hiding ENUM tables"
It would be nice to be able to hide enum tables with an extra flag in the schema.
When you have many enums, the diagram is not so easy to understand anymore.

[2022-08-05 10:22] cjoecker opened #121 "Make ERD diagram more user friendly"
Right now the diagrams are looking good. Nevertheless, I think they would be easier to understand with the following changes:
![image](https://user-images.githubusercontent.com/46030630/183057517-89fc864a-f98e-4798-bf37-67bb723940d0.png)

What do you think?
I can try to make a PR for that if you like it

[2022-08-08 11:01] keonik commented on #121
I would agree that’s easier to read. It could potentially save some space as well.  Yeah make a PR and I’ll review

[2022-08-08 12:59] cjoecker commented on #121
I was checking `mermaid` and there are not too many possibilities for customizing.
But we can achieve that with [graphviz](https://graphviz.org/) and [handlebars](https://handlebarsjs.com/).
The logic may change but the end result will be the same.

Here is a list of pros and cons of doing so:
1. We can customize the diagram using HTML and CSS preserving .svg as the output
2. At a later stage we c

[2022-08-15 16:02] capaj opened #122 "Feature request: allow to sort field names in the diagram alphabetically"
would be nice to have this option-especially for tables with lots of fields

[2022-08-17 11:06] lokize opened #123 "Command failed when i try generator"
Hi, i have this error when i try run npx prisma generate, I can run with the md extension but when I try to use png or svg this error occurs

![image](https://user-images.githubusercontent.com/19701630/185103468-71866e50-68cc-47ff-b4cd-b6a6716a4795.png)

[2022-08-17 19:46] cmeyer-uncomn opened #124 "Prisma One-to-many Relationships Always Show as Required?"
macOS BigSur
node v17.2.0

Hi! It's very possible this question is not an actual issue with the ERD generator but rather caused by how Prisma handles relationships. However, I can't seem to find any clear information online about it.

To demonstrate, I'll use the example from the bottom of [Prisma's One-to-many documentation page](https://www.prisma.io/docs/concepts/components/prisma-schema/relati

[2022-08-18 03:25] keonik commented on #122
I agree but I'm wondering if this should exist in prisma's prettier/linter or in this library. 🤔 Thoughts?

[2022-08-18 03:30] keonik commented on #121
I'm open to it. Especially if someone has an interest in sending a PR my way. There is a discussion about moving to something other than mermaid already #102

[2022-08-18 03:36] keonik commented on #123
Hey @lokize this might be a duplicate issue so could you share your OS, node version, and do some validation to see if that path to mmdc engine exists?

[code]

[2022-08-18 03:50] keonik commented on #124
Looking at mermaid docs on [relationships](https://mermaid-js.github.io/mermaid/#/entityRelationshipDiagram?id=relationship-syntax) you would expect to see
- User has zero to many Posts
- Post has zero to one User

Turning on debug mode I printed the generated output that feeds into mermaid

[code]

I believe the last line there `    Post o{--|| User : "author"` should be

[code]

which would resu

[2022-08-18 04:27] keonik commented on #124
I got it to this by changing a few lines that I haven't touched in many months 😳

[code]

[2022-08-18 04:29] keonik commented on #124
Doesn't look right though. Its gonna take some more troubleshooting. I'll push up a branch shortly in case you would like to take a look

[2022-08-18 05:00] keonik commented on #124
Take a look at that PR. Good catch on this bug ❤️

[2022-08-18 05:27] capaj commented on #122
Ideally both would have this option, but we don't live in an ideal world 😅

[2022-08-18 11:29] lokize commented on #123
thanks for help, yes the path exists, when i try gerenate with extension ".md" this worked

[2022-08-18 13:28] keonik commented on #123
That’s the confusing part. When you run with the output file as .md it skips calling that script because we’ve already translated the prisma dml to mermaid and it gets written straight to file. Any other formats get run through this script. Do another check to make sure that exists in the directory

[2022-08-18 14:59] lokize commented on #123
i check again and the folder and path exists...

[2022-08-18 15:42] keonik commented on #123
Okay cool. Go ahead and [enable debug mode ](https://github.com/keonik/prisma-erd-generator#debugging) and take a look at your generated mermaid file in step 3 outputted to `prisma/debug/3-...`. If it works in markdown it should work through the mermaid CLI so try to call the CLI manually and ensure it generates your svg/png etc. They don't really show much for debugging if it fails in the CLI. De

[2022-08-18 15:43] keonik commented on #123
Share your OS and node version as well. Most of these fails are happening for windows users

[2022-08-18 17:05] lokize commented on #123
i using wsl2 with CentOS9 Stream, nvm with nodejs v16.16.0

[2022-08-24 17:27] cjoecker commented on #102
I did the first try using `Graphviz` instead of `mermaid` and this is the result:
![image](https://user-images.githubusercontent.com/46030630/186483612-f05db6cc-3244-426a-b44e-0848fb60bb69.png)

The lines don't look as clear as with `mermaid` but in my opinion, it looks nicer now.
The only thing is that the relationship labels may sometimes look cluttered next to some primary keys like in the `Use

[2022-08-24 18:31] michaelaltmann opened #127 "Support table names with special characters and spaces"
Support table names like [Production$My Table]

[2022-08-24 18:41] michaelaltmann opened #128 "Allow control over whether to use model name or db name"
When a schema has models that are mapped to database tables using the @@map function, allow the user to decide whether to generate the diagram using model name or db table name.

[2022-08-24 18:46] michaelaltmann opened #129 "Support mapped column names with special characters"
For example
 amount                    Float?          @map("Amount (LCY)")

[2022-08-24 18:48] michaelaltmann commented on #128
Deciding between model name and db name should also apply to fields (aka sb columns).

[2022-08-29 19:52] keonik commented on #128
I wanted to do this but just haven't had time. I personally would rather see all the prisma variable names so I would default to that.

[2022-08-29 19:55] keonik commented on #102
@cjoecker Share a PR. I think it looks way better already. Would be interested to see how it handles the huge schema's in the test cases in the repo.

[2022-09-06 07:16] ripry commented on #120
Actually, I implemented hiding enums by mistake when making in table only mode, so we can use that implementation.
this commit -> [66d2d07](https://github.com/keonik/prisma-erd-generator/pull/90/commits/66d2d07be6234405bd2d4741c57daf866b88d702)

[2022-09-07 13:22] Vitalii4as opened #135 "Why relationFromFields are deleted from the mermaid model"
Hello, I'm trying to understand why some fields are removed during the generation of mermaid diagram. For example I have such a schema:
[code]

The generated mermaid diagram doesn't contain userId and productId. Is it possible to somehow show them?
[code]

I checked source code and they are filtered out in file src/generate.ts:178 - 182 Why it was done in such a way?

Thanks for your answer.

[2022-09-08 02:11] keonik commented on #135
I don't think there is anything wrong with either approach. I've seen both. This is built off of an existing algorithm that put emphasis on the connection lines and representing those relationships as opposed to having every foreign key in the models.

[2022-09-08 02:53] keonik commented on #129
I believe this already works

[code]

[2022-09-08 03:28] keonik commented on #129
Wait nevermind. This is less a library limitation and more of a mermaid issue. I just tried fixing the regex used to get the strings. Even after getting it to parse out the right string it failed in the mermaid command.

[2022-09-08 04:34] #124 closed

[2022-09-08 04:38] keonik commented on #102
#129 special character limitation. Overlap with a regex problem but when I fix it it will cause failures at the mermaid mmdc step

[2022-09-08 04:41] keonik commented on #135
If you'd like to add an option that would add those in feel free to send me a PR. I'm happy to add it in as long as it isn't going to change everyone's current ERD's

[2022-09-10 05:04] #135 closed

[2022-09-11 13:30] SkeLLLa commented on #102
Mermiad has a big advantage, generated diagrams could be embedded to markdown files and github, for example, could render them. So I think it worth not to "replace" but maybe add some alternative.

Maybe it could be done by creating some kinda plugins. The main module will be responsible for parsing prisma schema and returning some structure that could be later transform to graph.
And mermaid, gra

[2022-09-23 11:29] balzafin opened #138 "Using @map for FK field messes up the PK fields"
Code like this

[code]

generates this

[code]

If I remove the `@map("user_id")`, I get what I expect
[code]

Using
- @prisma/client@4.3.1
-  prisma-erd-generator@1.2.0

Seems to be similar to https://github.com/keonik/prisma-erd-generator/issues/114.

Hopefully this is simple enough example to reproduce the issue. Please let me know if you need additional information.

[2022-09-25 16:30] cjoecker commented on #102
@keonik I created a draft PR with the proof of concept for Graphviz. Let me know what you think so that I can start the refactoring, tests fix etc.

@SkeLLLa you have a good point about the embedded diagrams in the markdown files I haven't thought about. Diagrams can also be embedded and rendered as SVG files. So, whenever the schema is generated, the old SVG will be replaced and the markdown file

[2022-10-11 14:45] d0lb33 commented on #123
Same error here, I ran the command manually and it seems to be a puppeteer issue.
![image](https://user-images.githubusercontent.com/18106388/195123317-36f008b0-3a32-4853-9956-65fcbab9b1d9.png)

[2022-10-11 14:51] d0lb33 commented on #123
I ran:
`sudo apt-get install -y libgbm-dev`

And now I get this error:
![image](https://user-images.githubusercontent.com/18106388/195124557-d913db00-edc4-4548-bbef-d9f0ac3b3d9f.png)

Node Version: v16.17.1
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="

[2022-10-11 15:02] d0lb33 commented on #123
So what worked for me was following the mermaid readme:
![image](https://user-images.githubusercontent.com/18106388/195127770-a18a85e8-f257-44dc-a39b-ec74221d4374.png)

I made this file and added it to my manual command.

[2022-10-18 14:02] hakandilek opened #144 "log message indicating that erd is generated when the generator is disabled."
I disable the generator using the ENV variable `DISABLE_ERD=true`

I see that it is disabled with the log message `ERD generator is disabled`.

2 log messages later it says that an SVG is being generated:
[code]

I now that, it does not really generate anything but it is confusing to see this message in the logs.

[2022-10-19 05:30] keonik commented on #144
I haven’t found a fix for this other than what is there currently. If it’s in your schema it will run and generate a completed message even if we add logic not to in the generator.

[2022-10-27 04:02] maakle opened #145 "Prisma ERD generator fails out of nothing suddenly. Worked before."
The generator fails with the following output:

[code]

I have it setup like this in my `schema.prisma` file:

[code]

I'm using `"prisma-erd-generator": "^1.2.1"` and `"@mermaid-js/mermaid-cli": "^9.1.7"` in my package.json. Is this a known bug or anything I am doing wrong?

[2022-10-31 15:21] jferrettiboke commented on #145
Yeah. I can confirm `prisma-erd-generator` breaks with Prisma 4.5.0.

[2022-10-31 19:27] keonik commented on #145
Hoping the latest release updating dependencies fixed it 🤞🏼 checking now. Just released a version with 4.5 prisma

[2022-10-31 19:38] keonik commented on #145
Seemed to work on my end for a few simple cases. @mathiasklenk @jferrettiboke still getting the issue?

[2022-10-31 19:40] keonik commented on #144
I went ahead and threw in a way to override the default message. Its a little better but there isn't a way to disable the `✔ Generated __pretty_name__ to __output_name__`.

Should look like this
[code]

[2022-10-31 19:40] #144 closed

[2022-11-01 00:08] brunotravassos93 commented on #24
Boa, irmão. Resolveu aqui!!

[2022-11-01 15:57] jancyaragao commented on #24
Thanks, that helped me

[2022-11-01 15:58] jancyaragao commented on #24
https://github.com/keonik/prisma-erd-generator/issues/24#issuecomment-1107362004

Thanks, that helped me

[2022-11-01 15:59] jancyaragao commented on #24
Thanks, that helped me

[2022-11-01 16:48] jferrettiboke commented on #145
@keonik Unfortunately, it doesn't work. I'm still getting the same issue. These are my dependencies.

[code]

Could it be related with `mmdc` instead? The error says that the command failed.

[2022-11-01 21:11] lucascavalcante25 commented on #24
Resolvido aqui também, removendo apenas o espaço!
Vocês são feras!!

[2022-11-01 22:15] FeAranha commented on #24
I'm on linux and I create the project without space but with a capital letter, does it interfere?
[code]

[2022-11-02 00:52] matteothebrave commented on #24
i had the same issue and solved with

I had the same issue and your tip solved my problem.
I really appreciate

[2022-11-02 14:12] magnokf commented on #145
Still without solution

 npx prisma generate
Environment variables loaded from .env
Prisma schema loaded from prisma/schema.prisma

Command failed: /home/magnokf/rocketseat/ignite/nlw/copa/server/node_modules/.bin/mmdc -i /tmp/prisma-erd-rxQgJh/prisma.mmd -o /home/magnokf/rocketseat/ignite/nlw/copa/server/prisma/ERD.svg -t forest -c /tmp/prisma-erd-rxQgJh/config.json

[2022-11-02 16:17] rodrigogeraldes commented on #24
This solved my problem! Thank you

[2022-11-02 18:41] keonik commented on #145
Okay next guess is to go through the OS and node versions to see if you are one of the current issues around mmdc and mermaid with Windows

[2022-11-02 20:20] mcatel commented on #145
I changed the prisma-erd-generator version to 1.2.1 and it worked again

[2022-11-02 23:18] #120 closed

[2022-11-03 03:52] Sephyros commented on #123
I had the same problem as the author of the issue, I use Windows 11 with WSL2 (Ubuntu 22.04.1 - 5.15.68.1-microsoft-standard-WSL2) and I didn't have any special characters or spaces in the path, everything was resolved when I installed the lib " libasound2", don't ask me what this library has to do with an svg generator, but as I said, that's what solved it.

[2022-11-03 07:26] mathiasklenk commented on #145
It's weird, the last few days it worked again. So it's kinda a bit unpredicted I must say. What fixed the issue was always to completely remove the library and mmdc and then reading it fresh back. Don't know if that helps though!

[2022-11-03 08:48] hakandilek commented on #144
Looks a lot better, Thanks!

Are you planning a new release soon?

[2022-11-03 18:03] johncblandii commented on #145
I got the same `mmdc` error and I resolved it by deleting `node_modules` for a fresh install.

[2022-11-03 18:10] jferrettiboke commented on #145
@johncblandii That didn't work for me. I tried that multiple times without any luck. The error seems to be consistent across environments (development/localhost, production/localhost, previews/Vercel, production/Vercel).

@keonik BTW, I don't know if this could be related or not, but I have a monorepo setup. Mentioning this just in case.

[2022-11-03 23:21] keonik commented on #144
Latest realize should include it

[2022-11-04 19:49] pmdpaula commented on #123
I've tried averything above and what worked for me was:
`sudo apt-get install libxkbcommon-x11-0`

I'm using Win10 WSL2 Ubuntu22.02
Node v18.12.0

[2022-11-04 19:51] pmdpaula commented on #145
I've tried everything above and what worked for me was:
`sudo apt-get install libxkbcommon-x11-0`

I'm using Win10 WSL2 Ubuntu22.02
Node v18.12.0

[2022-11-05 05:44] meli-tortelli commented on #123
i've tried your solution @pmdpaula and @Sephyros  but both didn't worked for me, i'm still getting the same error. there's another thing that i can try to do to solve this error?
i'm using windows 11 with WSL Ubuntu v22.04.1, nvm with node v18.12.0

![image](https://user-images.githubusercontent.com/56207729/200104188-a81e31fa-f37a-40e4-925d-33e16b481dcd.png)

[2022-11-05 06:15] meli-tortelli commented on #123
i solved already. i guess it was a duplicate module issue with the prisma generator-helper. i just had to remove the module, run yarn install and then ran again npx prisma generate.

so if anyone is having this same issue maybe try to do the same.

![image](https://user-images.githubusercontent.com/56207729/200105698-f6bfcd90-171d-4aed-a420-bc9e1720eaa6.png)

[2022-11-05 10:49] pmdpaula commented on #123
It didn't work for me. I've tried it before.

[2022-11-06 01:20] itaitan commented on #145
I got the same problem,
i don`t what to do...
no resolution so far

[2022-11-09 02:34] CaioSouzaC1 commented on #24
Resolvido também retirando os espaços!
Muito obrigado.

[2022-11-09 04:43] keonik commented on #145
Keep sharing OS and Node versions. Thus far it’s been mermaid issues with a few OS’s. As a fallback I believe running a .md file as the output can bypass a script related to this issue.

[2022-11-09 04:46] keonik commented on #145
Related to #123

[2022-11-09 13:40] Siegrift commented on #123
I experienced a similar issue but my error cause (and also fix) was different. I ran the failed command myself to see what is the error.

[code]

and the fix that worked for me was: https://stackoverflow.com/a/60843949

[2022-11-09 19:11] Siegrift opened #147 "Unable to install dependencies when used with yarn workspaces, when "output" is from env"
Hi, and thanks for this library!

I was working on a project and use yarn workspaces, one for the FE and one for the BE with Prisma. I noticed that after installing `yarn add -D prisma-erd-generator @mermaid-js/mermaid-cli` I was no longer able to run `yarn` to install (and neither of my coworkers).

I spent some time isolating the problem and came up with a minimal reproducible example. You can s

[2022-11-09 23:39] JNotelddim commented on #145
First, sorry for all the duplicate "JNotelddim added a commit that referenced this issue" items 🙈
I was force-pushing that branch after rebasing and didn't realize it'd affect this Issue thread.

Anyways, that aside:

## Environment

I'm on MacOS Monterey (v12.4) with an M1 chip.

I'm working with `prisma@4.5.0`, and `prisma-erd-generator@1.2.3` (as a dev dependency), node version: `18.12.0`

## P

[2022-11-10 05:28] keonik commented on #145
Others use the disable flag to skip the ERD in docker.

[2022-11-10 05:28] keonik commented on #145
https://github.com/keonik/prisma-erd-generator#disabled

[2022-11-10 18:11] JNotelddim commented on #145
Ahh beautiful, thanks 🙏

[2022-11-11 12:26] darklight9811 opened #148 "npx prisma generate broken"
Followed the instructions on prisma-erd-generator and it throws this error:

[code]

[2022-11-11 19:16] sekijum commented on #148
me too

[2022-11-16 14:43] augustoandreotti commented on #24
Realmente era isso! Smp deixo as pastas sem nenhum espaço, mas deixei escapar um kkkk valeu!!

[2022-11-17 18:34] keonik commented on #138
@all-contributors add @balzafin for bug

[2022-11-17 18:41] keonik commented on #138
@dznbk @balzafin sent out a version with your MR for a fix for this. I believe I was running into this as well. I was going to check if this is resolved sometime next week. If you all beat me to it let me know if it's working for you. Thanks

[2022-11-17 18:42] keonik commented on #148
Duplicate issue #123

[2022-11-17 18:42] #148 closed

[2022-11-17 18:44] keonik commented on #129
Closing as this is a limit of mermaid

[2022-11-17 18:44] #129 closed

[2022-11-17 18:45] keonik commented on #147
Seems related and possibly duplicate to #104

[2022-11-18 06:00] balzafin commented on #138
Can confirm that the the issue is now fixed 🎉  Thank you @dznbk and @keonik!

[2022-11-18 06:00] #138 closed

[2022-11-27 16:32] cjoecker commented on #102
@keonik did you see the pull request? What do you think?

[2022-11-28 06:09] keonik commented on #102
I gave it a shot running locally and had a few TypeScript errors and missing imports that hung up a successful test. It says its missing `generate_old.ts` which has some of the DML types. I'm happy to support Graphviz but some people are big fans of mermaid still. Makes me think providing a configuration option to pick between Graphviz and Mermaid is in order. One of the big complaints against mer